/* Box Model Hack */
* {
  box-sizing: border-box;
  /* background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: "Roboto", sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  background-image: url("../images/maincuisine.jpg");
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

header nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 1% 5%;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1em;
}

main {
  margin: 5% 10%;
}

main h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 4rem;
  padding-bottom: 5%;
  width: 30%;
}

main input {
  padding: 10px 5px;
  width: 30%;
}

main a button {
  background-color: #ff8800;
  color: white;
  border: 1px solid #ff8800;
  padding: 10px;
  border-radius: 0 5px 5px 0;
}

main ul {
  margin-top: 5%;
}

main ul li {
  float: left;
  padding-right: 5%;
}

.fa-brands,
.fa-phone,
.fa-star {
  color: #ff8800;
}

/* First Section Styling */

.section1 {
  background-image: url("../images/section2-background.jpg");
  height: 820px;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}

article {
  width: 50%;
  margin: 0 auto;
  padding: 5% 0;
  padding-left: 15%;
}

article * {
  padding-bottom: 5%;
}

h4 {
  color: #ff8800;
}

article h2 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: bold;
  width: 70%;
}

article p {
  line-height: 1.5em;
}

article button {
  background-color: #ff8800;
  color: white;
  border: 1px solid #ff8800;
  padding: 10px;
  padding-right: 0;
  border-radius: 5px;
}

button span {
  padding: 10px;
  margin-left: 10px;
  border-radius: 0 5px 5px 0;
  background-color: #ffaa4d;
}

/* Second Section Styling */

.section2 {
  margin: 0 auto;
  text-align: center;
  background-color: #f2f6f7;
  padding: 5% 0;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-weight: bold;
  padding: 2% 0;
}

.speciality ul li {
  display: inline;
  padding: 1% 2%;
  border-bottom: 2px solid #dbdedf;
}

.speciality ul > li:first-child {
  color: #ff8800;
  border-bottom: 2px solid #ff8800;
}

.section2-under-section2 {
  padding-top: 2%;
}

.section-with-images {
  padding-top: 2%;
}

.section-with-images li {
  display: inline;
  padding: 1% 1%;
}

.container-with-image {
  position: relative;
}

.container-with-image img:hover {
  color: black;
  opacity: 0.75;
}

.container {
  font-family: "Playfair Display", serif;
  color: white;
  position: absolute;
  text-align: center;
  z-index: 1;
  bottom: 100%;
  left: 0;
  margin: 20%;
  padding: 8% 0 0 8%;
}

.container span {
  font-size: 30px;
  padding-bottom: 2%;
}

.container p {
  padding: 10% 0;
}

.container button {
  background-color: #ff8800;
  color: white;
  border: 1px solid #ff8800;
  padding: 5px;
  border-radius: 5px;
}

/* Third Section Styling */

.section3 {
  background-image: url("../images/fruitbowl-background.jpg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  max-width: 70%;
}

.section3 {
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
}

.section3 p {
  padding: 1% 0;
}

.section3 p i {
  border: 2px solid #ff8800;
  border-radius: 50%;
  padding: 1%;
}

.section3 span + p {
  color: #ff8800;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.section3 ul li {
  display: inline-block;
  margin: 0 5%;
}

.section3 ul li p {
  font-size: 12px;
}

.section3 ul li span {
  font-size: 16px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

/* Footer Styling */

footer {
  text-align: center;
  margin: 0 auto;
  padding: 5% 0;
}

footer img + p {
  padding-top: 2%;
  font-weight: 500;
}

footer img + p + span {
  color: gray;
  font-size: 12px;
}

footer span + p {
  padding: 2% 0;
}

footer span + p + p {
  font-style: italic;
  line-height: 1.5rem;
  width: 70%;
  margin: 0 auto;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media all and (max-width: 800px) {
  header nav ul {
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  header nav ul {
    flex-direction: column;
  }

  .speciality ul li {
    display: flex;
    justify-content: center;
  }

  .section1 span {
    display: none;
  }
}

@media all and (max-width: 600px) {
  header {
    width: 100%;
    height: 100%;
  }

  header ul {
    display: none;
  }
}

@media all and (max-width: 1540px) {
  .section1 {
    width: 100%;
    height: 100%;
  }
}
